.DS_Store
workflows/*.yaml
db.sqlite3
.idea
*__pycache__*
prefectdb/
appdb/
workflows/deployments/*.yaml
prefectserver
logs/
slurm/jobdir/
secret*.yaml
secret*.yml
secret*.env
secret*.htaccess
deployment/**/*job*.yaml
deployment/**/auth
/htmlcov/
.coverage
/.nextflow/
/work/
coverage.xml
