.DS_Store
workflows/*.yaml
db.sqlite3
.idea
*__pycache__*
prefectdb/
appdb/
prefectserver
logs/
slurm-dev-environment/jobdir/
slurm-dev-environment/fs/nfs/production/dev-slurm-work-dir/**
secret*.yaml
secret*.yml
secret*.env
secret*.htaccess
deployment/**/*job*.yaml
deployment/**/auth
.coverage
/.nextflow/
/work/
/coverage
/staticfiles
*env/
dev-db.json
talisman_report/
