.DS_Store
workflows/*.yaml
db.sqlite3
.idea
*__pycache__*
prefectdb/
appdb/
prefectserver
logs/
slurm-dev-environment/jobdir/
slurm-dev-environment/fs/nfs/production/dev-slurm-work-dir/**
slurm-dev-environment/fs/hps/tests/assembly_uploader/assembly/metaspades/3.15.5/upload
secret*.yaml
secret*.yml
secret*.env
secret*.htaccess
deployment/**/*job*.yaml
!deployment/**/*migrate-job.yaml
deployment/**/auth
.coverage
/.nextflow/
/work/
/coverage
/staticfiles
*env/
dev-db.json
talisman_report/
slurm-dev-environment/fs/nfs/ftp/public/databases/metagenomics/mgnify_results/*
