django==5.0.4
django-ninja==1.1.0
prefect==2.18.3
prefect-shell==0.2.2
dj-database-url
psycopg2-binary
cython<3.0
pydantic
pydantic-settings
nextflowpy==0.8.1
django-unfold==0.22.0
tzdata==2024.1
pandas==2.1.4

whitenoise==6.6.0
gunicorn==22.0.0
django-debug-toolbar==4.3.0

pytest
pytest-django
pytest-cov
