django==5.2.1
django-cors-headers==4.7.0
django-ninja~=1.4.3
prefect==3.4.4
prefect-shell==0.3.1
prefect-slack==0.3.1
dj-database-url==3.0.0
psycopg2-binary
cython<3.0
pydantic~=2.11.5
pydantic-settings~=2.9.1
nextflowpy==0.11.0
django-unfold==0.60.0
django-json-widget==2.0.1
tzdata
pandas==2.3.0
django-ltree-2==0.1.12
django-ninja-jwt~=5.3.7

whitenoise==6.9.0
gunicorn==23.0.0
django-debug-toolbar==5.2.0

biopython==1.85

pymongo==4.13.0
mysql-connector-python
SQLAlchemy

numpy~=2.2.6
requests~=2.32.4
httpx~=0.28.1
typing_extensions~=4.13.2
asgiref~=3.8.1
case-converter~=1.2.0
aenum~=3.1.16
