####################
#  Prefect worker  #
####################

set idfile /nfs/production/rdf/metagenomics/jenkins-slurm/processes/mi-slurm-worker-monit.id
set pidfile /nfs/production/rdf/metagenomics/jenkins-slurm/processes/mi-slurm-worker-monit.pid
set statefile /nfs/production/rdf/metagenomics/jenkins-slurm/processes/mi-slurm-worker-monit.state

set daemon 60 # Poll at 60 sec intervals

set mmonit http://monit:monit@hmmer-dev-01.ebi.ac.uk:8080/collector

set httpd port 8001
  allow admin:remmhWeb

check process dev-mi-slurm-worker-prefect-worker with pidfile /nfs/production/rdf/metagenomics/jenkins-slurm/processes/dev-mi-slurm-worker-prefect-worker.pid
  start program = "/nfs/production/rdf/metagenomics/jenkins-slurm/dev-prefect-agent/deployment/ebi-wp-k8s-hl/start_worker_with_monit.sh"
  stop program  = "/bin/sh -c 'kill -s KILL $(cat /nfs/production/rdf/metagenomics/jenkins-slurm/processes/dev-mi-slurm-worker-prefect-worker.pid)'"
